.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: normal;
  background: #2F4550;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #416273;
  text-decoration: none;
  color: white;
}

#add-ingredient {
    font-size: 12px;
    padding: 7px 10px;
    margin-top: 10px;
  }

.delete-button {
  padding: 0px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transform: rotate(45deg);
  color: #888d93;
  background-color: white;
}

.delete-button:hover {
  opacity: 0.9;
  color: red;
}
