// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search-form {
  width: 400px;
}

.homepage {
  background-color: #0f2846;
}

#index-title {
  color: white;
  text-align: center;
}

.index-title {
  border-bottom: 2px solid white;
  margin-bottom: 16px;
}

#test {
  color: white;
}
